- everytime_root = "http://www.everytimehq.com"
- embed_root = Rails.env == 'production' ? "http://widget.everytimehq.com" : "http://localhost:3000" 
-#- embed_root = "http://widget.everytimehq.com" 

-#%a{:class=>'img_link', :href=>everytime_root}
-#	= image_tag '/images/everytime_logo.jpg', :width=>"70%"
- token = Rails.env == "production" ? "z70gGL7Hj01rhS1a" : "bktfQJEBYt6qys3p"
= javascript_include_tag "#{embed_root}/banners/#{token}.js"

%p
	I am very happy today to introduce
	=link_to "Everytime,", "#{everytime_root}" 
	which is a tool that allows you to bookmark and share
	any moment within any movie or music.
	It is dedicated to anyone whose job or passion relies on video or audio, such as
	filmmakers, writers, music composers, journalists and many more!
	
%p
	You can use it
	= link_to "for free!", "#{everytime_root}/subscribe"
	Or feel free to
	= link_to "have a tour", "#{everytime_root}/tour"
	or
	= link_to "try out the demo", "#{everytime_root}/demo"
	first.
	
%p
	One of the many great uses it can have is
	= link_to "embedded widgets.", "#{everytime_root}/widgets"
	If you want to share your bookmarks publicly,
	you can simply embed them into any website, such as those examples:
	

.iframe_container
	- token = Rails.env == 'production' ? "Tv1BIJxMRWfYtg83" : "ZsgnAkJaxau3t0A6"
	= javascript_include_tag "#{embed_root}/embed/media/#{token}.js"
	
	
.iframe_container
	- token = "xZ4mW8i6NZkt0Mcl"
	= javascript_include_tag "#{embed_root}/embed/media/#{token}.js"

	
