
!!!
%html
	= render 'layouts/head'
		
	%body
		.container
			.row
				- entries = {}
				- entries[:puppet] = "Puppet - Short Film"
				- entries[:cliff] = "The Cliff - Feature Film"
				- entries[:pest] = "Pest - Feature Film"
				- entries[:vfx] = "VFX Reel"
				.column.medium-3

					#mainmenu_container
						-# => {data: {magellan: {expedition: "fixed"}}}
						.contact_details
							%p.page_title Guillaume Fradin - Filmmaker
							-#%dl.sub-nav
							-#	%dd{data: {magellan: {arrival: "build"}}}

							%p.links
								= link_to "imdb", "http://www.imdb.me/gui"
								|
								= link_to "vimeo", "http://www.vimeo.com/frading"
								|
								= link_to "linkedin", "http://www.linkedin.com/profile/view?id=4330677"
								| 
								= mail_to "guillaumefradin@gmail.com", "email"

						%ul.nav.nav-list#mainmenu
							- entries.each do |k,v|
								%li
									%a{ href: "##{k}"}
										%i.icon-chevron-right
										= v

				.column.medium-9.medium-offset-3
					- entries.each do |k,v|
						.mainmenu_entry{id: k}
							%h2= v
							= render :partial=>"home/entries/#{k}", :locals=>{:id=> k, :title=>v}


	= render 'layouts/js'