.section
	.title
		August 2010
	.content
		%p
			Finished a commercial at
			= link_to "Realise Studio", "http://www.realisestudio.com"
		%p
			Have a look at the two spots on
			= link_to "VFXtoolbox", "http://www.vfxtoolbox.com/projects/Li-ning"
			
.section
	.title
		december 2009
	.content
		%p
			Just wrapped up work as a Lead FX on
			= link_to "Avatar", 'http://www.imdb.com/title/tt0499549/'
			at
			= link_to "Framestore", 'http://www.framestore.com'
			
		%p
			More informations in this
			= link_to "sidefx article", "http://www.sidefx.com/index.php?option=com_content&task=view&id=1694&Itemid=68"
			and this
			= link_to "interview at effet-speciaux.net", "http://www.effets-speciaux.info/article?id=304"
		

.section
	.title
		Clients
	.content
		%ul
			%li
				= link_to "Framestore", "http://www.framestore.com"
			%li
				= link_to "Realise Studio", "http://www.realisestudio.com"
			%li
				= link_to "La Maison", "http://www.alamaison.com"
			%li
				= link_to "Eclair Lab", "http://www.eclair.fr"
			%li
				= link_to "Jim Henson", "http://www.jimhenson.com"
				
.section
	.title
		Showreel 2007
		
	.content
		= render 'layouts/vimeo_showreel_2007'
	

