.section
	.title
		August 2010
	.content
		= image_tag 'http://www.vfxtoolbox.com//medias/images/c4/4a3caf4657b23ed9ca662e445926c2c03ff693/50829ae966c5000b7ad07e65c80ddbc5a9fec4df/lining_basket_thumbnail_00_00_05.000.jpg', :width=>'60%'
		%p
			Finished a commercial at
			= link_to "Realise Studio", "http://www.realisestudio.com"
		%p
			Have a look at the two spots on
			= link_to "VFXtoolbox", "http://www.vfxtoolbox.com/projects/Li-ning"
			
.section
	.title
		december 2009
	.content
		= image_tag 'http://www.vfxtoolbox.com//medias/images/56/a8cb2060d1f9f3044a6ce3326e31e40980ef4f/a6db753a19d3d982790fbfa5ee39394e07cf7ff3/avatar_medium.jpg'
		%p
			Just wrapped up work as a Lead FX on
			= link_to "Avatar", 'http://www.imdb.com/title/tt0499549/'
			at
			= link_to "Framestore", 'http://www.framestore.com'
			
		%p
			More informations in this
			= link_to "sidefx article,", "http://www.sidefx.com/index.php?option=com_content&task=view&id=1694&Itemid=68"
			this
			= link_to "interview at effet-speciaux.net", "http://www.effets-speciaux.info/article?id=304"
			and on
			= link_to "vfxtoolbox", 'http://www.vfxtoolbox.com/projects/Avatar'
		

.section
	.title
		Clients
	.content
		%ul
			%li
				= link_to "Framestore", "http://www.framestore.com"
			%li
				= link_to "Realise Studio", "http://www.realisestudio.com"
			%li
				= link_to "La Maison", "http://www.alamaison.com"
			%li
				= link_to "Eclair Lab", "http://www.eclair.fr"
			%li
				= link_to "Jim Henson", "http://www.jimhenson.com"
				
.section
	.title
		Showreel 2007
		
	.content
		= render 'layouts/vimeo_showreel_2007'
	

