
%div
	%p
		This vfx reel has not been updated since 2007. It does not include my work as a Lead FX TD at
		=  link_to "Framestore", "http://www.framestore.com"
		or
		= link_to "Weta Digital", "http://www.wetafx.co.nz"
		on the movies
		= link_to("Avatar", "http://www.imdb.com/title/tt0499549")
		and
		= link_to("Gravity", "http://www.imdb.com/title/tt1454468")
		amongst others.
		See my
		= link_to("Imdb Credits", "http://imdb.me/gui")
		for more details.
		
.row
	.column.medium-2
		%a.img-link{href: "http://www.imdb.com/title/tt0499549"}
			%img{src: '/assets/avatar.jpg', alt: 'Avatar'}
		%a.img-link{href: "http://www.imdb.com/title/tt1454468"}
			%img{src: '/assets/gravity.jpeg', alt: 'Gravity'}

	.column.medium-10

		%div
			-#= vimeo(16082893, width: 660, height: 520)
			= everytime_media(15924, width: "100%", height: 200)
			= everytime_widgets_js