
%div
	%p
		This vfx reel does not include my work as a Lead FX TD at
		=  link_to "MPC", "http://www.moving-picture.com"
		on
		= link_to("The Martian", "http://www.imdb.com/title/tt3659388") + ','
		but you can still see parts of
		= link_to("Avatar", "http://www.imdb.com/title/tt0499549") + ','
		= link_to("Gravity", "http://www.imdb.com/title/tt1454468") + ','
		= link_to("Edge of Tomorrow", "http://www.imdb.com/title/tt1631867")
		and other movies.
		See my
		= link_to("Imdb Credits", "http://imdb.me/gui")
		for more details.

.row
	.column.medium-2
		%a.img-link{href: "http://www.imdb.com/title/tt0499549"}
			%img{src: '/assets/avatar.jpg', alt: 'Avatar'}
		%a.img-link{href: "http://www.imdb.com/title/tt1454468"}
			%img{src: '/assets/gravity.jpeg', alt: 'Gravity'}

	.column.medium-10

		%div
			-#= vimeo(16082893, width: 660, height: 520)
			= everytime_media(15924, width: "100%", height: 200)
			= everytime_widgets_js
