
%div
	%p
		This vfx reel has not been updated since 2007. It does not include my work at
		=  link_to "Framestore", "http://www.framestore.com"
		or
		= link_to "Weta Digital", "http://www.wetafx.co.nz"
		on the movies
		= link_to("Avatar", "http://www.imdb.com/title/tt0499549")
		and
		= link_to("Gravity", "http://www.imdb.com/title/tt1454468")
		amongst others.
		


%div
	= vimeo(16082893)