
.section
	.title
		= post.title.titleize
	.content
		= render "posts/content/#{post.partial}"
	.date
		= post.published_at.to_s(:pretty)
		
	.links
		- if post.previous_post
			= link_to "<< #{post.previous_post.title.titleize}", post.previous_post
			
		- if post.more_recent_post
			= link_to "#{post.more_recent_post.title.titleize} >>", post.more_recent_post
		
	%a{:class=>'img_link feed', :href=>feedburner_url}

