.row
	.column.medium-4
		%br
		%br
		.alert.alert-success
			%h3 Pro Account Example
			%p
				This webpage demonstrates what
				= link_to "printmosaic", printmosaic_root_url
				can look like once embedded on your site.

	.column.medium-4
		%ul
			%li
				%strong always on your site
				People trying printmosaic from here will always stay on this site.
			%li
				%strong custom articles
				You can see the articles offered in this page are different than the ones found on
				= link_to "printmosaic.com", printmosaic_root_url

	.column.medium-4
		%br
		%a.button.radius{:href=>"#{printmosaic_root_url}/pro"}
			Start Your Pro Account
			%i.fi-arrow-right

%div{:style=>"background-color:red;padding:5px;height:1000px"}
	-#%iframe{:src=>"http://www-5.printmosaic.local:5000/", :width=>1200, :height=>1000}
	= javascript_include_tag("#{printmosaic_root_url}/pro/accounts/#{printmosaic_key}.js")
