!!!
%html
	%head
		%title
			Guillaume Fradin
		= csrf_meta_tag
		= raw(include_stylesheets :all)
		= auto_discovery_link_tag :atom, feedburner_url
		
	%body
		#root
			.title_container
				.title
					GUILLAUME FRADIN
			= render 'layouts/menu'
	
			.main
				=yield
			#root_footer

		= render 'layouts/footer'
		
	= render 'layouts/js'	
